*{
    font-family: Arial, Helvetica, sans-serif;
}
/*      MENU    */
#menu{
    clear: both;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    overflow: hidden;
}

#menu ul{
    list-style: none;
}

#menu ul li{
    float: left;
    line-height: 44px;
}

#menu ul li a{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: black;
}


/*CONTENIDO*/
#contenedor{
    width: 85%;
    height: auto;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*BARRA LATERAL*/
#lateral{
    float:right;
    width: 27%;
    height: auto;
}

.bloque{
    display:block;
    width: 90%;
    margin: 0px auto;
    margin-bottom: 35px;
    padding: 15px;
}


input[type="button"],
input[type="submit"],
.boton{
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    border-radius: 2px;
    background: #007ee5;
    border: 1px solid #156785;
    cursor:pointer;
    padding: 7px;
}


/*PRINCIPAL*/
#principal{
    float: left;
    width: 65%;
    background:rgb(219, 188, 188);
    border-radius: 5px;
    margin-left: 20px;
    padding: 20px;
    overflow: hidden;
}

#principal a{
    color: #333;
}

#principal h1{
    font-size: 32px;
    color: rgb(202, 55, 55);
}
#principal h2{
    color: #a941ee;
    margin-top: 25px;
}

#principal p{
    margin-top: 8px;
}

#ver-todas a{
    display: block;
    border-radius: 2px;
    padding: 15px;
    color:white;
    background: #a941ee;
    border: 1px solid #000000;
    cursor:pointer;
    width: 160px;
    margin: 0px auto;
    margin-top:50px;
}

#pie{
    text-align: center;
}